Repository chanr1atwit/AtmosphericBG, pull requests merged in 2022-06, with the labels that each got.

#45 Issue 33 create photo class
  .gitignore
  PhotoLibrary/Photo.py
  PhotoLibrary/__init__.py
  Tests/Test.py
  Tests/TestPhoto.py
  Tests/__init__.py
  run_tests.bat
Labels: photo library

#46 Issue 36 read json
  PhotoLibrary/Photo.py
  PhotoLibrary/PhotoLibraryModel.py
  Tests/Test.py
  Tests/TestPhoto.py
  Tests/TestPhotoLibraryModel.py
  Tests/testread.json
  run_tests.bat
Labels: task, photo library

#48 Issue-37 - finished write json, add, remove, clear
  PhotoLibrary/Photo.py
  PhotoLibrary/PhotoLibraryModel.py
  Tests/TestPhotoLibraryModel.py
  Tests/testwrite.json
Labels: task, photo library, function

#55 Sampling timer
  Sampling Timer/EssentiaModel.py
  Sampling Timer/SamplingTimeController.py
Labels: task
